name: Build Account Service

on:
  workflow_run:
    workflows: ["Tests"]
    types: [completed]

jobs:
  build-account:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore Account Service
        run: dotnet restore ./src/services/AccountService

      - name: Build Account Service
        run: dotnet build ./src/services/AccountService --configuration Release
