name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      # Restore da solution inteira
      - name: Restore solution
        run: dotnet restore payment-plataform.sln

      # TESTES (roda em tudo dentro de ./tests)
      - name: Run tests with coverage
        run: dotnet test payment-plataform.sln \
              --collect:"XPlat Code Coverage" \
              --results-directory "coverage" \
              --verbosity normal

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage

      # BUILD APENAS DO ACCOUNT SERVICE
      - name: Build Account Service
        run: dotnet build ./src/services/AccountService \
              --configuration Release
